.card__label__container{
  position: absolute;
  bottom: 90px;
  right: 0;
}

.card__label_content{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0db7;
  color: white;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  height: 30px;
  padding: 0px 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
